extends layout

block content
  h1= title
  figure
    //- img(src="C:\\mygit\\CSC867-IADD\\CSC867_term_prj\\playuno\\public\\images\\uno_image.jpg" alt="uno image")
    img(src='https://www.google.com/search?q=uno+image&rlz=1C1CHBD_enUS932US932&sxsrf=AOaemvJU91uWsJlW2oyPEwkyLH7boCI1Ww:1633977520419&tbm=isch&source=iu&ictx=1&fir=ZHfdshbdTWDjeM%252CGTFcAZEQsGllSM%252C_%253B-zg7ycOXbjhsXM%252CD16m2V45K4XdOM%252C_%253BNcRfONvTWnbqWM%252CHlaWEqo4TxdsaM%252C_%253B-AsHPP-NYHxhxM%252CBipZ6l7soZKhvM%252C_%253B3WPvq6AvddXmMM%252Cqxq35mF26KmUIM%252C_%253BQZGB-LURqZ_d5M%252CBipZ6l7soZKhvM%252C_%253BUaNDVwA3B2wUrM%252Cqxq35mF26KmUIM%252C_%253BkwO7v_OloyB5OM%252CYRHJtm_KbwGpbM%252C_%253B74xxzyI8he04kM%252CX2EKXnARuK-cgM%252C_%253BOLSmagPiTB7QIM%252C41evVZMGUSKPJM%252C_%253BVxDqOhg7I8iH2M%252Cd86WlfVX7Hr5dM%252C_%253BLox3stKCJWKv3M%252CAvjStIXVpWjx8M%252C_%253Bg2vhYZ21jn1wwM%252Cy2wk_xw_LXrf1M%252C_%253BWMFxi214dykyGM%252CUqT2-g_skA46vM%252C_&vet=1&usg=AI4_-kSVTRAArDLqHqG33uEExLLgqp4p4g&sa=X&ved=2ahUKEwjlhLPNgMPzAhUemmoFHaPsCeQQ9QF6BAgHEAE#imgrc=ZHfdshbdTWDjeM' alt='google failed')
  p Welcome to #{title}

  a(href='/login') login
  //- button(onclick='/login') Login

  a(href='/register') Register
  //- button(onclick='/register') Register
